<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


>>>>>>> teammate/main
.file-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.9rem;
    gap: 12px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .file-container p{
    color: #81AFDD;
  }
  .file-card {
    border: 1px solid #ccc;
    padding: 16px;
    width: 200px;
    text-align: center;
    margin: 1rem;
    background: #eeeee4;
    border-radius: 10px;
   
    /* background: linear-gradient(90deg, rgba(13,13,102,1) 0%, rgba(3,182,218,1) 0%, rgba(2,0,36,1) 100%); */
  }
  
  .file-card h3 {
<<<<<<< HEAD
=======

>>>>>>> teammate/main
    margin: 0 0 8px;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .file-card p {
    margin: 4px 0;
  }
  
  .file-card a {
    display: block;
    margin: 8px 0;
    color: blue;
<<<<<<< HEAD
    text-decoration: none;
   
    
=======
    text-decoration: none;   
>>>>>>> teammate/main
  }
  
  .file-card div span {
    font-size: 20px;
  }
  .blog-posts-container {
    display: flex;
<<<<<<< HEAD
    flex-wrap: wrap;
    justify-content: center;
=======
    flex-direction: column;
    justify-content: center;
    align-items: center;
>>>>>>> teammate/main
    gap: 20px;
  }
  
  .blog-post-card {
<<<<<<< HEAD
    width: 300px;
    background-color:#103a64;
    border: 1px solid #ddd;
=======
    width: 50rem;
    /* background-color:#103a64; */
    background-image: url('../../assets/homebg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
>>>>>>> teammate/main
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .blog-post-card h2{
<<<<<<< HEAD
    color: rgb(14, 137, 137);
=======
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
>>>>>>> teammate/main
  }
  .blog-post-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .blog-post-card h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .blog-post-card p {
<<<<<<< HEAD
    font-size: 14px;
    color: #666;
=======
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #ccc;
>>>>>>> teammate/main
  }
  
  .blog-post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .blog-post-actions button {
<<<<<<< HEAD
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
=======
    padding: 1rem 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0.6);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  .blog-post-actions button:hover{
    transition: 0.3s ease-out;
    color: white;
    background-color: transparent;
>>>>>>> teammate/main
  }
  
  .blog-post-author {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
  }